<section style="padding: 4em;">
<div class="container py-5 h-100" style="max-width: 1250px;">
    <article class="card">
        <div class="card-header"> My Orders / Address </div>
        <div class="card-body">
            <h6>Order ID: jbbkjb56465</h6>
            {{#each orders}}
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Order Date:</strong> <br>{{date}} </div>
                    <div class="col ml-2"> <strong>Address:</strong> <br> {{this.deliveryDetails.address}}</div>
                    <div class="col ml-2"> <strong>Pincode:</strong> <br> {{this.deliveryDetails.pincode}}</div>
                    <div class="col ml-2"> <strong>Mobile No:</strong> <br> {{this.deliveryDetails.mobile}}</div>
                    <div class="col ml-2"> <strong>Payment Type:</strong> <br> {{this.paymentMethod}}</div>
                    <div class="col ml-2"> <strong>Status:</strong> <br> {{this.status}}</div>
                    <div class="col"> <a style="height: 37px;" href="/order-details/{{this._id}}"
                        class="btn btn-danger mt-3">Track-Order</a></div>
                </div>
            </article>
            {{/each}}
        </div>
    </article>
</div>
</section>

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

    body {
        background-color: #eeeeee;
        font-family: 'Open Sans', serif
    }

    {{!-- .container {
        margin-top: 50px;
        margin-bottom: 50px
    } --}}

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.10rem
    }

    .card-header:first-child {
        border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }
</style>