<section style="padding: 4em;">
    <div class="container p-5">
        <div class="row mt-3">
            {{#each products}}
            <div class="col-9 col-md-3 p-3">
                <div class="card" style="width: 16rem; height: 28rem">
                    <img style="width : 15rem; height:15rem" class="card-img-top" src="/product-images/{{this._id}}.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">Price : {{this.Price}}.00</p>
                        <p class="card-text">{{this.Description}}</p>
                        <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>